<% provide(:title, "Users") %>
<table class="table table-striped table-bordered">
  <tr>
    <th>Display name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.display_name %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path, class: "btn btn-danger" %>
<%= link_to "Search on G+", search_new_path, class: "btn btn-danger" %>