<% provide(:title, "#{ @person.display_name }") %>

<p id="notice"><%= notice %></p>

	<div class="activity">
		<div class="activity-block">
			<span class="calendar-icon activity-icon"></span>
			<span class="activity-first-row"><%= Time.now.strftime("%d.%m.%y") %>  </span>
			<span class="activity-second-row"><%= 10.minutes.ago.strftime("%R") %> <%= time_ago_in_words(10.minutes.ago) %>  </span>
		</div>


		<div class="activity-block">
			<span class="users-icon activity-icon"></span>
			<span class="activity-first-row"><%= Person.count %>  </span>
			<span class="activity-second-row"><%= 5.minutes.ago.strftime("%R") %> <%= time_ago_in_words(5.minutes.ago) %>   </span>
		</div>


		<div class="activity-block">
			<span class="news-icon activity-icon"></span>
			<span class="activity-first-row"><%= @activities['items'].count %>  </span>
			<span class="activity-second-row"><%= 7.minutes.ago.strftime("%R") %> <%= time_ago_in_words(7.minutes.ago) %>   </span>
		</div>

	</div>

	<div class="activity-btn">
			<a class="activity-btn-grab" href="#">CRAWL</a>
			<a class="activity-btn-advanced-grab" href="#">Advanced crawl</a>
	</div>

	<div class="clear"></div>


	<div class="timeline">

		<% @activities['items'].each do |a| %>
		<div class="event">
			<span class="text">
			<%= a['object']['content'].html_safe %>
			</span>
		</div>
		<% end %>
	  				
		<div class="clear"></div>
	</div>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
