<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @person.user_id %>
</p>

<p>
  <b>Gplus:</b>
  <%= @person.gplus_id %>
</p>

<p>
  <b>Display name:</b>
  <%= @person.display_name %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
