<!DOCTYPE html>
<html>
<head>
  <title>minus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="page">
		<div class="sidebar">
			<a class="logo" href="javascript;"></a>
			<ul class="menu">
				<li><a href="#">Dashboard</a></li>
				<li><%= link_to 'Users', people_path %></li>
				<li><%= link_to 'Activity', activities_path %></li>
				<li><%= link_to 'Settings', edit_user_registration_path %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			</ul>
		</div>

		<div class="center">
			<div class="header">


  			<h1><%= yield(:title)%></h1>

  			<div class="user-data">
  				<span class="user-data-email"><%= current_user.email %></span>

  				<ul class="user-data-hidden">
  					<li><%= link_to 'Settings', edit_user_registration_path %></li>
  					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  				</ul>

  			</div>
  			<div class="clear"></div>
  			<hr>

  		</div>
  		<!-- end of header -->

  		<div class="pag">

  			<%= yield %>

  		</div>
  		<!-- end of page -->

		</div>
		<div class="clear"></div>
	</div>


</body>
</html>
